.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 35px;
}

.avatar {
  height: 25px;
}

.main-container {
  background-color: rgb(20 20 20)
}

.color-white {
  color: white;
}

.color-gray {
  color: rgb(130 130 130)
}

.ml-5.genres-btn {
  background-color: black;
  border: 1px solid white;
}

.ml-5.genres-btn:focus {
  background-color: black;
  border: 1px solid white;
}

/* 
.ml-5.genres-btn:visited {
  background-color: black;
  border: 1px solid white;
}

.ml-5.genres-btn:active {
  background-color: black;
  border: 1px solid white;
} */

.ml-5.genres-btn:hover {
  background-color: black;
  border: 1px solid white;
}


.bi.bi-caret-down-fill {
  font-size: 10px;
}

.icon-holder {
  border: 1px solid white;
  padding-inline: 10px;
}

h2 {
  white-space: nowrap;
}

.carousel-items {
  gap: 4px;
}

.bottom-icon {
  font-size: 30px;
}

.bottom-text {
  font-size: 0.75rem;
  white-space: nowrap;
}

.service-button {
  padding-inline: 5px;
  padding-block: 5px;
  border: 1px solid rgb(130 130 130);
}

.carousel-items {
  height: 320px;
  width: 100%;
}

.carousel-img {
  height: 320px;
  width: 201px;
  margin-left: 5.5px;
  object-fit: cover;
}

.carousel-indicators li {
  visibility: hidden;
}

.color-nav {
  background-color: rgb(20 20 20);

}

.movie-card {
  display: inline-block;
  position: relative;
  height: 100%;
}

.details-btn {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 6px;
}